@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome123</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">ASP.NET Core-Deploying-To-OpenShift-19-5-2021-4</a>.</p>
</div>
