@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome1234</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">ASP.NET Core-Deploying-To-OpenShift-5-24-2021-2</a>.</p>
</div>
